.container {
    position: relative;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
}

.box:first-child {
    background-color: red;
    z-index: 1;
}

.box:nth-child(2) {
    background-color: blue;
    top: 60px;
    left: 60px;
    z-index: 2;
}

.box:last-child {
    background-color: green;
    top: 120px;
    left: 120px;
    z-index: 1;
}